body{
    margin:0;
    padding:0;
    font-family: 'Crimson Text', serif;
}
#lets-help{
    background-image: url("images/donation0.jpg");
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;


}
.inner-div{
    width: 960px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.gradient{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.359), rgb(0, 0, 0));
}
#lets-help h1{
    color:#fff;
    font-size: 60px;
}
#lets-help p{
    color: #fff;
    font-size: 20px;
}
.btn{
    display:inline-block;
    font-size: 24px;
    background-color: rgb(255, 69, 69);
    padding: 20px 30px;
    text-decoration: none;
    color: #fff;
    margin: 20px 0;
    border-radius: 10px;
    border: none;
}
#donate-today{
    text-align: center;
    margin: 100px 0;
}
#donate-today h2{
    font-size: 42px;
}
#donate-today p{
    font-size: 24px;
    margin: 65px 0;
}
.donate-amount-list{
    margin-bottom: 65px;
}
.donate-amount-list ul{
    list-style-type: none;
    display:flex;
    
    
}
.donate-amount-list ul li{
    margin: 0 auto;
    background-color: rgba(243, 242, 242, 0.793);
    font-size: 30px;
    font-weight: 700;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.active-amount{
    border: 3px solid rgb(255, 69, 69);
    color: rgb(255, 69, 69);
    background-color: rgba(255, 69, 69, 0.059)!important;
}
.other-amount{
    border:none;
    font-size: 24px;
    opacity: 0.5;
    text-align: center;
}
hr{
    opacity: 0.5;
    margin:10px 0;
}
#donate-plan h2{
    text-align: center;
    font-size: 42px;

}
#donate-plan p{
    text-align: center;
    font-size: 24px;
    margin: 50px 0;
}
#donate-plan h3{
    font-size: 28px;
}
.donate-plan-list-wrapper{
    display:flex;
}
.donate-plan-list-item{
    padding: 40px 25px;
    margin-right: 15px;
    
}
.donate-plan-list-item p{
    text-align: left!important;
}
.donate-plan-list-item:last-child{
    margin-right:0;
}
.item-one{
    background-color: #EDF5F6;
}
.item-two{
    background-color: #FFEEEE;
}
.item-three{
    background-color: #FFF4D6;
}
#recent-efforts{
    margin-top: 100px;
}
#recent-efforts h2{
    font-size: 42px;
    text-align: center;
    margin-bottom: 50px;
}
.recent-efforts-list-item{
    height: 300px;
    display: flex;
    
    margin-bottom: 20px;
    box-shadow: 5px 2px 12px rgba(172, 68, 68, 0.336);
}
.recent-efforts-list-item img{
    height:auto;
    width: 350px;
}
.recent-efforts-list-item-details{
    padding: 20px;
}
.recent-efforts-list-item-details h3{
    font-size: 42px;
    margin-top: 20px;
}
.recent-efforts-list-item-details p{
    font-size: 24px;
}
.recent-efforts-list-item-details a{
    font-size: 24px;
    color: #000;
    padding: 15px 0;
}
#get-updates{
    margin-top: 100px;
    text-align: center;
}
#get-updates h2{
    font-size: 42px;
}
#get-updates p{
    font-size: 24px;
}
.newsletter-submit-box{
    background-color: #FFF4D6;
    padding: 80px 130px;
}
.email{
    display:inline-block;
    width: 50%;
    outline: none;
    margin: 0;
    padding: 20px 30px;
    border-radius: 7px 0 0 7px;
    border:none;
    background-color: #D9D9D9;
}
.submit{
    display:inline-block;
    width: 30%;
    margin: 0;
    padding: 20px 30px;
    border-radius: 0 7px 7px 0;
    border:none;
    background-color: rgb(255, 69, 69);
}
#footer{
    margin-top: 100px;
    background-color: #0B0D17;
    padding: 50px;
}
#footer h2{
    font-size: 42px;
    text-align: center;
    color:rgb(255, 69, 69)
}
#footer p{
    font-size: 24px;
    text-align: center;
    color: #fff;
}